.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: "Satoshi", sans-serif;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/Satoshi-Regular.woff") format("woff2"),
    /* Modern Browsers */ url("./assets/Satoshi-Regular.woff2") format("woff"); /* Legacy Browsers */
  font-weight: normal;
  font-style: normal;
}

.Banner {
  background-image: linear-gradient(
      to bottom,
      rgba(230, 243, 255),
      rgba(255, 252, 235)
    ),
    url("./assets/bannerBg.jpeg");

  background-size: cover;
  /* color: white; */
  /* padding: 20px; */
}

.Kickstart {
  font-size: 24px;
  font-weight: 700;
  line-height: 32.4px;
  letter-spacing: 0.05em;
  text-align: left;
}

.IITJEE {
  font-size: 50px;
  font-weight: bolder;
  line-height: 67.5px;
  text-align: left;
  color: #191970;
}

.Poweredby {
  font-size: 18.33px;
  font-weight: 900;
  line-height: 24.75px;
  text-align: center;
}
.newsletter-bx {
  /* background: #ffffff; */
  border-radius: 55px;
  color: #121212;
  padding: 35px 125px;
  margin-bottom: 80px;
  margin-top: -230px;
  background: linear-gradient(252.82deg, #292967 -8.28%, #000000 270.86%),
    url(./assets//mapImg.png) center center;
  background-size: cover;
}

.outer-container-college {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  text-align: center; /* Center text */
}

.h-college {
  border-radius: 50%;
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
}
.h-downarrow {
  border-radius: 50%;
  position: absolute;
  top: -250px;
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
}
.h-downarrow {
  border-radius: 50%;
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
}

.svg-icon-college {
  align-self: center;
}

.approachTxt {
  font-family: Satoshi;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
}

.borderRight {
  border-right: 2px dashed transparent;
  border-right-width: 2px;
  border-image: repeating-linear-gradient(
    to bottom,
    white,
    white 12px,
    transparent 9px,
    transparent 25px
  );
  border-image-slice: 1;
}

.main-card {
  background-color: #f0f0f0; /* Main card background color */
}

.card-title {
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 45px;
  margin: auto;
  height: 50px;
  width: 300px;
  margin-bottom: var(--bs-card-title-spacer-y);
  color: var(--bs-card-title-color);
  background: #292967;
  border-radius: 30px 30px 0px 0px;
  bottom: 50px;
  position: relative;
}

.customButtonCenter {
  justify-content: center !important;
}

#leftCardID {
  padding: 10px 35px 54px;
  border-radius: 33px !important;
  background: #fff9da !important;
}
#rightCardID {
  padding: 10px 35px;

  border-radius: 33px !important;
  background: #e9e8f6 !important;
}

.rightcenterbutton {
  justify-content: center !important;
  position: relative;
  top: 28px;
}
.leftcenterbutton {
  justify-content: center !important;
  position: relative;
  top: 70px;
}
.fixed-button {
  position: fixed;
  top: 320px;
  right: -56px;
  transform: rotate(270deg);
}

.rotate-text {
  background: #292967;
  color: white;
  padding: 10px;
  position: absolute;
  transform: rotate(90deg);
  border: none;
  width: 120px;
  left: -39px;
}

/* .rotate-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  transform: rotate(90deg);
  z-index: -1;
} */


.fixedbuttonsvg{
  transform: rotate(90deg);
}

.formHeadings{
  font-size: 13px !important;
  text-align: left !important;
}

.bannerImage{
  display: flex;
  justify-content: center;
}